// Colors
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

// Font sizes
$fs-body: 16px;
$fs-h2: 2.39rem;

// Font family
$fm-headings: 'Poppins'; //400, 600
$fm-body: 'Open Sans'; //400

// Margins, paddings and radius
$inline: 3.5rem;

// Break-points
$mobile: 375px;
@mixin mq-mobile {
    @media only screen and (min-width:$mobile) {
        @content;
    }
}

$tablet: 750px;
@mixin mq-tablet {
    @media only screen and (min-width:$tablet) {
        @content;
    }
}

$laptop: 1140px;
@mixin mq-laptop {
    @media only screen and (min-width:$laptop) {
        @content;
    }
}

$computer: 1440px;
@mixin mq-computer {
    @media only screen and (min-width:$computer) {
        @content;
    }
}
